# Ignore binaries
*.zip
*.o
*.exe
*.mco
V2/MCML2.0/mcml
V2/MCML2.0/mcml.exe
V2/CONVL2.0/conv
V2/CONV2.0/conv.exe
V1/conv_v1
V1/mcR5unix/conv_v1
V1/mcR5unix/convcode/conv_v1
V1/mcR5unix/mcml_v1
V1/mcR5unix/mcmlcode/mcml_v1
V1/mcml_v1
V2/conv
V2/mcml
